@import "./Audio.css"; 

.downloadButtonText {
    margin: 0px
}

.downloadFileName {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    margin-top: 10px;
}
