@import "./Audio.css"; 

.uploadInput {
    display: none;
}

.error { 
    background: -webkit-linear-gradient(#ff003e,#a409ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 25px; 
    margin-bottom: 20px;
}