.App {
  float: left;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.52),rgba(0,0,0,.92)),
  url('./images/backGround.png');  
  background-position: center top;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
